*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F7FA;
}

.navbar{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #7C3AED;
    justify-content: space-between;
    align-items:center;
    padding: 0 2rem;
}

.navbar .logo img{
    width: 30%;
    object-fit: contain;
    
}

.navbar .link a{
    width:40%;
    text-decoration: none;;
    font-size: 1.25rem;
    position: relative;
    padding-bottom: 3px; 
    margin: 0 0.75rem 0 0.75rem;
    color: #FFFFFF;
}


.navbar .link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar .link a:hover::after {
    width: 100%;
}

.navbutton-container {
    display:none;
}

.navbutton{
    display:none;

}

.navbutton img{
    width: 45px;
    height: 45px;
}

.dropdown{
    position:absolute;
    top: 70px;
    left: 0;
    background-color: #4C5BFF;
    width: 100%;
    padding: 1rem;
    display: none;
    flex-direction: column;
    transition: opacity 0.5s ease, transform 0.5s ease;
    height: 100%;
    align-items:center;
    justify-content:center;
}

.nav-link{
    margin-top:100px;
    margin-bottom:100px;
    width:100%;
    height:2rem;
}

.dropdown a {
    display: block;
    padding: 1rem;
    text-align:center;
    font-size: 1.25rem;
    color: white;
    height: 100%;
    text-decoration: none;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.navbutton-container:focus-within .dropdown {
    display: flex;
}

@keyframes fadeIn{
    from { opacity:0;}
    to{opacity: 1;}
}


.container-page-home{
    display: flex;
    height: calc(100vh - 70px);
    /* background-color: #F5F7FA; */
    color: #1A1a1a;
    background-color: white;
    flex-direction: column;
    
}

/*Home*/
.presentation-section{
    font-size: 3.5rem;
    font-weight: bold;
    padding-left: 7.5rem;
    padding-top: 12.5rem;
    line-height: 1.5;
    color: #7C3AED;
}

.intestation{
    font-size: 2.5rem;
}

.title{
    font-size: 4.5rem;
}

.container-links{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 40rem;
    height: 7.5rem;
    background-color: transparent;
}

.icon{
    
    border-radius:100%;
    background-color: transparent;
    width:5.5rem;
    height:5.5rem;
    
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.icon:hover{
    background-color: transparent;
}


.images-link{
    display: flex;
    justify-content: center;
    align-items:center;
    

}

/*Who am I*/

.container-page-who-am-i{
    display:grid;
    grid-template-columns: 58% 42%;
    width:80%;
    height:calc(100% - 200px);
    /* height:100%; */
    margin: 5rem auto 0 auto;
}

.container-page-who-am-i-responsive{
        display:none;
    }

.who-am-i{
    font-weight: bold;
    font-size:  3.5rem;
    margin-bottom: 2rem;
    
}

.personal-description{
    font-size: 1rem;
    line-height: 2rem;
}


.container_thomas_img{
    display:flex;
    align-items: center;
    justify-content: center;

}

.Thomas1{
    width:50%;
    border-radius:25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.Thomas2{
    width:80%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.Thomas3{
    width:80%;
    border-radius:25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.Thomas4{
    width:80%;
    border-radius:25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.Thomas5{
    width:80%;
    border-radius:25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.prova_animazione{
    width: 100px;
    height: 100px;
    background-color: red;
    position:relative;
    animation-name:animation;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

@keyframes animation {
  0% {left: 50rem; top: 0px;background-image: url("src/Thomas1.jpg") }
  50% {background-color: red}
  100% {left: -10rem; top: 0px; background-image: url("src/Thomas2.jpg")}
}

/* contatti.html */
.container-page-contatti{
    display: flex;
    height: calc(100vh - 70px);
    /* background-color: #F5F7FA; */
    color: #1A1a1a;
    background-color: white;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.minime{
    width:10rem;
    height:10rem;
    background-color: #F9CD21;
    border-radius:100%;
}

table, tr, td{
    display:flex;
    width:60rem;
    justify-content: center;
    align-items:center;
    column-gap: 3rem;
    
}

td{
    height:2rem;
}

.mail{
    text-decoration: none;
    
}

.mail:hover{
    color:#5520b0;
}

.contatti{
    background-color: red;
}

.scritta-leggera{
    font-weight: 100;
}

.scritta-pesante{
    font-weight: 900;
    
}

.list-table{
    display:none;
    line-height:2rem;
}

.big{
    font-size:x-large;
    letter-spacing: 3px;
}

ul{
    text-align: center;
    list-style:none;
}

.footer{
    height: 50px;
    width: 100%;
    background-color: #0A1A2F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: grey;
}

@media (max-width: 768px) {
    .navbar .link a{
        display: none;
    }
    
    .navbutton {
        display: block;
    }

    .navbutton-container {
        display:block;
    }

    
    .container-page-home{
        align-items:center;
        justify-content: center;
    }

    .presentation-section{
        padding:0;
        display:flex;
        flex-direction: column;
        align-items:center;
    }

    .intestation{
        font-size:2rem;
    }

    .title{
        font-size: 1.5rem;
    }

    .container-page-who-am-i{
        display:none;
    }

    .who-am-i{
        font-size:3rem;
    }

    .container-page-who-am-i-responsive{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        padding:2rem;
        line-height: 2rem;
    }

    .table{
        display:none;
    }

    .list-table{
        display:block;
    }

    .container-links{
        width:22.5rem;
    }
}